<h3>Now Playing Movies in Theater</h3>
<% if @movies.present? %>
	<div class="row">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item" style="padding-top:10px;padding-right: 3px;">Sort By: </li>
		  <li class="nav-item">
		    <%= link_to "Title", root_path(sort: 'title'), class: "nav-link #{(params[:sort].present? && params[:sort] == 'title') ? 'active' : ''}"%>
		  </li>
		  <li class="nav-item">
		  	<%= link_to "Release Date", root_path(sort: 'date'), class: "nav-link"%>
		  </li>
		  <li class="nav-item">
		    <%= link_to "Genre", root_path(sort: 'genre'), class: "nav-link"%>
		  </li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-8">
			<% @movies.each do |movie| %>
				<div class="row mb-4 border rounded">
					<div class="col-md-4">
						<%= image_tag "https://image.tmdb.org/t/p/w500_and_h282_face#{movie['table']['poster_path']}", style: "max-width:100%;" %>
						<div class="text-center">
							<% reviews = Review.where(movie_id: movie["table"]["id"]).order(created_at: :desc)%>
							<b>Average Rating : <%= reviews.present? ? (reviews.pluck(:rating).inject(&:+) / reviews.count) : "N/A" %></b>
						</div>
					</div>
					<div class="col-md-8">
						<h5><%= movie["table"]["title"] %></h5>
						<p>
							<b>Released Date:</b> 
							<%= movie["table"]["release_date"].to_date.strftime("%d %b, %Y") %>
							<br>
							<b>Genere:</b>
							<%= generes_names(@generes, movie["table"]["genre_ids"][0]) %>
						</p>
						<div id="modal_<%= movie['table']['id']%>"></div>
						<table id="reviews_table_<%= movie['table']['id']%>">
							<tbody>
								<% if reviews.present? %>
									<% reviews.first(2).each do |rvw|%>
										<tr>
											<td>Rating: <%= rvw.rating %></td>
											<td>, "<%= rvw.comment %>" by <%= rvw.user.full_name %></td>
										</tr>
									<% end %>
								<% else %>
									<tr>
										<td colspan="2"> Not any review yet </td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<p>
							<%= link_to "All Review", movie_reviews_path(movie_id: movie["table"]["id"]) %> |
	 						<%= link_to "Leave Review", new_review_path(movie_id: movie["table"]["id"]) %>
						</p>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3 border rounded">
			<h2>Recent Reviews</h2>
			<% @recent_reviews.each do |review| %>
				<p>
					"<%= review.comment %>" - 
					Rating : <%= review.rating %> <br>
					<span style="color:grey;"><small>Movie Id: <%= review.movie_id %></small></span>
				</p> 
			<% end %>
			<p class="text-center"><%= link_to "View all reviews", reviews_path %></p>
			<hr>
			<h2>Recent Movies</h2>
			<% @recent_movies = @movies.sort_by{|movie| Date.parse(movie["table"]["release_date"])}.reverse.first(4) %>
			<% @recent_movies.each do |movie| %>
				<% reviews = Review.where(movie_id: movie["table"]["id"]).order(created_at: :desc)%>
				<p>
				<b>Title :</b> <%= movie["table"]["title"]  %><br>
				<b>Released Date :</b> <%= movie["table"]["release_date"].to_date.strftime("%d %b, %Y") %><br>
				<b>Average Rating :</b> <%= reviews.present? ? (reviews.pluck(:rating).inject(&:+) / reviews.count) : "N/A" %>
				</p>
			<% end %>
		</div>
<% else %>
	<h3>No Movies available at the moment..!!!</h3>
<% end %>