<%= form_for(@review, url: create_review_path, method: :post) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :rating %>
    <%= f.collection_radio_buttons :rating, (1..5).map{|n| [n, n]}, :first, :last, class: "custom-control-input" %>  
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.hidden_field :movie_id, :value => params[:movie_id] %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_email, :value => current_user.email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
